@import "./src/assets/styles/main";

.dsktp {
  display: none;
  @include landscape {
    @include notMobile {
      display: initial;
    }
  }
}

.mbl {
  @include display_flex;
  @include landscape {
    @include notMobile {
      display: none;
    }
  }
}

canvas {
  @include notSelectable;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.disco-ball {
  @include absoluteMiddle();
  width: 200px;
  height: 200px;
  transition: all 1s ease-in;
  transform: translate(-50%, -120%);
  @include notMobile {
    transform: translate(-50%, -150%);
  }
  &.active {
    transition: all 2s ease-out;
    transform: translate(-50%, -80%);
    @include notMobile {
      transform: translate(-50%, -25%);
    }
  }
}

nav {
  display: flex;
  background-color: #1b1c35;
  padding: 1em;

  h1 {
    @include notSelectable;
    margin: 0;
    font-family: "Source Code Pro", sans-serif;
    color: white;
    font-size: 1em;
    z-index: 3;
    @include notMobile {
      font-size: 2em;
    }
  }
}

.page {
  @include display_flex(true);
  height: 100%;
  section {
    @include display_flex(true);
    flex: 1;
    padding: 1em;
    height: 100%;
    overflow: hidden;

    @include landscape {
      @include notMobile {
        flex-direction: row;
      }
    }

    .area {
      @include display_flex(true);
      flex: auto;

      &.logo {
        @include noDecoration;
        overflow: hidden;
        z-index: 2;
        flex-direction: row;
        cursor: pointer;
        @include landscape {
          @include notMobile {
            flex-direction: column;
            padding: 4em;
            flex: 3;
          }
        }

        .image {
          @include display_flex;
          cursor: pointer;
          overflow: hidden;

          flex: 1 0 0;

          img {
            width: 100%;
            height: 100%;
            padding: 4vw;
            @include landscape {
              padding: 0;
            }
          }
        }

        .date.mbl {
          flex: 1 1 0;
          color: white;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          flex-wrap: wrap;

          .month {
            font-weight: 700;
            font-size: 10vw;
          }

          .date-container {
            @include display_flex(true);
            align-items: center;

            .days {
              font-size: 8vw;
              border-bottom: 2px solid white;
              padding-bottom: 1vw;
              font-weight: 700;
            }

            .year {
              font-size: 9.8vw;
              font-weight: 300;
            }
          }
        }
      }

      &.details {
        z-index: 2;
        overflow: hidden;
        max-height: 100%;

        flex: none;
        @include landscape {
          max-height: 100%;
          @include notMobile {
            border-color: rgba(38, 166, 154, 0.3);
            height: max-content;
            align-self: flex-end;
            flex: 3;
          }
        }

        &:hover,
        &:active,
        &:focus {
          border-color: rgba(38, 166, 154, 1);
        }

        .date {
          justify-content: center;
          align-items: center;
          flex: 1;

          @include landscape {
            @include notMobile {
              display: flex;
            }
          }

          h1 {
            color: white;
            font-size: calc(1em + 2vw);
            margin-bottom: 0.2em;
            font-weight: 400;
          }
        }

        .card {
          @include flexBetween(true);
          border: 1px solid rgba(38, 166, 154, 0.3);
          border-radius: 0.5em;
          border-color: rgba(38, 166, 154, 1);
          background-color: rgba(19, 24, 37, 0.9);
          transition: border 0.2s ease-in-out;
          overflow: hidden;
          flex: 1;

          @include notMobile {
            @include landscape {
              border-color: rgba(38, 166, 154, 0.3);
            }
          }

          .header {
            @include notSelectable;
            background-color: #1b1c35;
            padding: 1em;
            color: white;
            text-align: center;
            width: 100%;
            min-height: fit-content;
          }

          .scrollable {
            @include display_flex(true);
            flex: 1;
            overflow: scroll;
            max-height: 72vw;
            @include notMobile {
              max-height: initial;
            }
          }

          p {
            @include notSelectable;
            color: white;
            padding: 1em;
            font-size: 1em;
            font-family: "Source Code Pro", sans-serif;
            margin: 0;

            @include landscape {
              text-align: center;
            }
          }

          .cta {
            color: white;
            text-align: center;
            width: 100%;
            transition: background-color 0.2s ease-in-out;
            background-color: #26a69a;
            min-height: fit-content;
            height: fit-content;

            @include notMobile {
              background-color: rgba(38, 166, 154, 0.7);
            }
            &:hover,
            &:focus,
            &:active {
              background-color: #26a69a;
            }

            a {
              @include display_flex;
              @include noDecoration;
              justify-content: center;
              border: none;
              text-transform: uppercase;
              background-color: transparent;
              width: 100%;
              height: 3em;
              text-align: center;
              cursor: pointer;
              align-items: center;

              @include notMobile {
                padding: 1.5em;
                height: 100%;
              }

              span {
                @include notSelectable;
                color: white;
                cursor: pointer;
              }
            }
          }
        }
      }

      img {
        @include noDS;
        width: 100%;
        height: 100%;
        object-fit: contain;
        opacity: 0.6;
        transition: opacity 0.2s ease-in-out;
        @keyframes lightning {
          0% {
            opacity: 0.6;
          }
          5% {
            opacity: 1;
          }
          10% {
            opacity: 0.6;
          }
          15% {
            opacity: 1;
          }
          20% {
            opacity: 0.6;
          }
          100% {
            opacity: 0.6;
          }
        }

        animation: lightning 2s ease-in-out 2s infinite;
      }

      .card {
        @include card2_noTrans;
        @include display_flex(true);
        // background-color: white;
        // width: 100%;
        // position: relative;
      }
    }

    .absoluteWrapper {
      @include display_flex;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .flashes {
      @include display_flex;
      width: 100%;
      height: 100%;

      @keyframes flash {
        0% {
          opacity: 0;
        }

        5% {
          opacity: 1;
        }

        10%,
        100% {
          opacity: 0;
        }
      }

      .flash {
        @include display_flex;
        flex: 1;
        background-color: white;
        filter: blur(10em);
        -webkit-filter: blur(10em);
        @include notMobile {
          filter: blur(20em);
          -webkit-filter: blur(20em);
        }
        opacity: 0;
      }

      &.active {
        .flash {
          &.flash1 {
            animation: flash 4s ease-in 2s infinite;
          }

          &.flash2 {
            animation: flash 4s ease-in 4s infinite;
          }
          &.flash3 {
            animation: flash 4s ease-in 5.5s infinite;
          }
          &.flash4 {
            animation: flash 4s ease-in 3s infinite;
          }
          &.flash5 {
            animation: flash 4s ease-in 4.5s infinite;
          }

          &.flash6 {
            animation: flash 4s ease-in 3.5s infinite;
          }
          &.flash7 {
            animation: flash 4s ease-in 5s infinite;
          }
          &.flash8 {
            animation: flash 4s ease-in 2.5s infinite;
          }
        }
      }
    }
  }
}

.links {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1em;
  h1 {
    color: white;
    margin: 0;
    border-bottom: 1px solid white;
    padding-bottom: 0.4em;
  }
  // align-items: center;
}

.links ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  @include landscape {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.links ul li {
  display: flex;
  // text-align: center;
  list-style: none;
  // justify-content: center;
  margin: 0;
  flex: 1;
}
.links ul li a {
  text-decoration: none;
  color: rgb(59, 59, 223);
  padding: 1em 0;
  @include landscape {
    padding: 1em;
    white-space: nowrap;
  }
}

.links ul li a:hover {
  color: rgb(109, 109, 221);
}
