<div class="page">
    <nav>
        <h1>HACKGSU 10<sup>th</sup> Anniversary</h1>
    </nav>

    <section>
        <iframe class="disco-ball" [class.active]="showDiscoBall" frameBorder="0"
            src="assets/disco-ball/index.html"></iframe>
        <div class="absoluteWrapper">
            <div class="flashes" [class.active]="showFlashes">
                <div class="flash" [style.backgroundColor]="flash.color" [class]="'flash' + (i + 1)"
                    *ngFor="let flash of flashes; let i = index"></div>
            </div>
        </div>
        <div class="area logo" (dblclick)="restartMusic()" (click)="toggleMusic()">
            <img src="assets/img/logo.svg">
        </div>
        <div class="area details">
            <div class="card">
                <div class="header">HACKGSU '22 Registration</div>
                <p>HackGSU 2022 is a 100% remote event. Pre-register below to be notified when registration opens!</p>
                <div class="links">
                    <ul>
                        <li><a href="https://mlh.io/community-values" class="link">MLH Community Values</a></li>
                        <li><a href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf" class="link">MLH Code of
                                Conduct</a></li>
                    </ul>
                </div>
                <div class="cta"><a href="https://tiny.cc/mlh_hackgsu2022" target="_blank"><span>Register
                            Now!</span></a></div>
            </div>
        </div>

    </section>
</div>